@import "tailwindcss";
@theme {
  --font-family-librefranklin: "libre franklin", sans-serif;
  --color-blue: hsl(223, 87%, 63%);
  --color-paleblue: hsl(223, 100%, 88%);
  --color-red: hsl(354, 100%, 66%);
  --color-gray: hsl(0, 0%, 59%);
  --color-darkblue: hsl(209, 33%, 12%);
}
